/* 全体スタイル */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 上部のレイアウト */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

/* ゲームタイトル */
h1 {
    margin: 0;
    font-size: 50px;
}

/* main部分のレイアウト */
main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

/* ゲーム画面のレイアウト */
#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* カード各種のレイアウト */
#player-hand, #player-hand, #element-status, #actions, #play-area {
    margin : 40px 0;
}

#player-hand, #opponent-hand, #play-area {
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央揃えにする */
}

#player-hand h2, #opponent-hand h2 {
    text-align: center; /* テキストを中央揃えにする */
}

/* 敵のカードのレイアウト */
#opponent-hand #cards .card {
    visibility: hidden; /*見えないようにする */
}

/* デバック用に見えるように */
.debug #opponent-hand #cards .card {
    visibility: visible; /* 表示する */
}



#cards { /* プレイヤーと相手のカードを表示するためのclass */
    display: flex;justify-content: center;
    gap: 10px;
    flex-wrap: wrap; /* 折り返しを有効 */
}

.card { /* 手札そのもののclass */
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
}

/* ハートとダイヤはカードを赤くする */
.heart-diamond {
    color:  red;
}

#element-status {
    display: flex;
    justify-content: space-around; /* フレックスコンテナ内のアイテムを水平方向に均等に配置するために使う */
    width: 100%;
    gap: 20px;
}

#element-status div {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 45%;
}

/* ボタンのレイアウト */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* ページ下部のレイアウト */

footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
    background-color: #e0e0e0; /* 灰色の背景色 */
    padding: 10px;
    border-radius: 5px; /* 角を丸くする場合 */
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を出す */
}