/* 全体スタイル */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 上部のレイアウト */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

/* ゲームタイトル */
h1 {
    margin: 0;
}

/* main部分のレイアウト */
main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-hand, #player-hand, #element-status, #actions {
    margin : 40px 0;
}

#cards {
    display: flex;
    gap: 10px;
}

#element-status {
    display: flex;
    justify-content: space-around; /* フレックスコンテナ内のアイテムを水平方向に均等に配置するために使う */
    width: 100%;
    gap: 20px;
}

#element-status div {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 45%;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
    background-color: #e0e0e0; /* 灰色の背景色 */
    padding: 10px;
    border-radius: 5px; /* 角を丸くする場合 */
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を出す */
}