/* 全体スタイル */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 上部のレイアウト */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

/* ゲームタイトル */
h1 {
    margin: 0;
    font-size: 50px;
}

/* main部分のレイアウト */
main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-hand, #player-hand, #element-status, #actions {
    margin : 40px 0;
}

#cards {
    display: flex;
    gap: 10px;
}

#element-status {
    display: flex;
    justify-content: space-around; /* フレックスコンテナ内のアイテムを水平方向に均等に配置するために使う */
    width: 100%;
    gap: 20px;
}

#element-status div {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 45%;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

 /* ルール説明のレイアウト */
 #game-rules {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
}

#game-rules h2 {
    text-align: center;
    color: #4CAF50;
} 

#game-rules p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

#game-rules ul {
    list-style-type: disc;
    padding-left: 20px;
}

#game-rules ul {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* マーク解説セクションのレイアウト */
.mark-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mark-item {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 45%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ページ下部のレイアウト */

footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
    background-color: #e0e0e0; /* 灰色の背景色 */
    padding: 10px;
    border-radius: 5px; /* 角を丸くする場合 */
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を出す */
}