/* 全体スタイル */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* トランプの背景 */


/* 背景用のカードの基本スタイル */
#background div {
    position: absolute;
    font-size: 100px; /* カードのサイズ */
    color: rgba(128, 128, 128, 0.5);
    opacity: 0.3;
}



/* 上部のレイアウト */
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

/* ゲームタイトル */
h1 {
    margin: 0;
    font-size: 50px;
}


 /* ルール説明のレイアウト */
 #game-rules {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
}

#game-rules h2 {
    font-size: 30px;
    text-align: center;
    color: #4CAF50;
    margin: 40px;
} 

#game-rules p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

#game-rules ul {
    list-style-type: disc;
    padding-left: 20px;
}

#game-rules ul li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    list-style-type: none;
    
}

/* マーク解説セクションのレイアウト */
.mark-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mark-item {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 45%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* マークの画像のレイアウト */
.suits-img {
    width: 50px;
    height: auto;
}

/* エレメントポイントの「強化」と、「減少」の色 */
.increase {
    color: green;
}

.decrease {
    color: red;
}

/* その他の重要な部分の色（青） */
.other-color {
    color: blue;
}

/* start buttonのレイアウト */
#gama-page {
    text-align: center;
    margin-top: 20px;
}

#gama-page-button {
    background: linear-gradient(90deg, red, yellow, green, blue, red );
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
    background-size: 400%; /* グラデーションの繰り返しを設定 */
    animation: gradientAnimation 5s infinite; /* アニメーションの追加 */
}

#gama-page-button:hover {
    background: linear-gradient(90deg, red, yellow, green, blue, red );
    background-size: 400%;
    animation: gradientAnimation 5s infinite;
    transform: scale(1.1); /* 手前側に浮き出ているようなアニメーション */
}

/* グラデーションのアニメーション */
@keyframes gradientAnimation {
    0%{ background-position: 0% 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0% 50%;}
}

/* 特殊ルールのレイアウト */
/* Twin Elementの文字にLobsterフォントを適用 */
#twinSuit {
    font-family: 'Lobster', cursive;
    font-size: 36px;  /* フォントサイズを調整 */
    color: #FFD700;  /* おしゃれな金色 */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* 文字に影をつけて立体感を出す */
}


/* ページ下部のレイアウト */

footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
    background-color: #e0e0e0; /* 灰色の背景色 */
    padding: 10px;
    border-radius: 5px; /* 角を丸くする場合 */
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を出す */
}